/*buttons*/

.btn{
   letter-spacing:0.1rem;
    box-shadow:0 0 1rem rgb(235, 164, 33);
    transition: .5s ease;
    
}



.about-content{
    padding:4rem;
}


.btn:hover{
    box-shadow:none;
}
/*timeline*/
.main-timeline {
    position: relative;


  }
  
  /* The actual timeline (the vertical ruler) */
  .main-timeline::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #8a0454;
    top:0;
    bottom:0;
    left: 50%;
    
  }
  
  /* Container around content */
  .timeline {
    position: relative;
    

    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #f1f3f5;
    border: 5px solid #f2a62c;
    top: 15px;
    border-radius: 50%;
    z-index:1;
  }
  
  /* Place the container to the left */
  .left {
    padding: 0px 40px 20px 0px;
   
    
  }
  
  /* Place the container to the right */
  .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
    
  }
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -12px;
  }

/*projects*/
.z{
  z-index:99;
}

.portfolio-box{
    position:relative;
    box-shadow:0 0 1rem rgb(239, 98, 17);
    overflow:hidden;
    
}
.portfolio-box img{
    
    transition:.5s ease;
    
}
.portfolio-box:hover img{
    transform:scale(1.1);
}
.portfolio-box .portfolio-layer{
    position:absolute;
    top:0;
    bottom:0;
    padding: 5rem;
    background: linear-gradient(rgb(199, 124, 206, 0.703),rgba(211, 94, 51, 0.912));
    transform:translateY(100%);
    transition:.5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform:translateY(0%); 
}
  .portfolio-layer h4{
        font-size:2rem;
    }
    .portfolio-layer p{
        font-size:1.6rem;
        margin:.3rem 0 1rem;
    }




    /*contact form */

    .error-txt{

      font-size:13.5px;
      color:red;
      margin-bottom: 3rem;
     
      text-align:center;
      display:none;
      }
      


    
    @media screen  and (max-width:990px)
{
  #home{
    margin-bottom: 4rem;
  }
  

}
/* tabs and mid size displays */
@media screen and (min-width:601px) and (max-width:950px)
{
    html{
      font-size:60%;
    } 
.portfolio-box  img{

  height:100%;
  width:100%;

}
}
@media screen and (min-width:400px) and (max-width:600px)
{
  html{
    font-size:55%;
  }
  .portfolio-box  img{

    height:100%;
    width:100%;
  
  }
  
}  


    
    
    
   
    
    





   
    
    






